a {
  cursor: pointer;
}

img{
  width:100%;
  height:100%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

input:focus {
  outline: none;+
}

/* Header */
#header {
  position: relative;
  background-color: transparent;
  z-index: 9999;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin: 0 auto;
  padding: 20px 0;
}

#navbar {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

#navbar .navbar__wrap {
  display: flex;
}

.navbar__wrap > li {
  padding: 0 20px;
}

.navbar__wrap > li > a {
  font-size: 18px;
  color: #fff;
}

.until > .until__wrap {
  display: flex;
}

.until > ul > li {
  display: inline-block;
  width: 100px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: 0, 0;
}

.until__wrap > li.sadan {
  background-image: url("./images/header/firm_01.png");
}

.until__wrap > li.until-search {
  width: 20px;
  background-image: url("./images/header/search_01.png");
  background-size: 20px;
  padding: 0 10px;
}

.until__wrap > li.toggle-btn {
  width: 20px;
  background-image: url("./images/header/nav_01.png");
  background-size: 20px;
  padding: 0 5px;
}

.until__wrap li:nth-child(2) {
  position: relative;
  display: flex;
  align-items: center;
}

.until__wrap li:nth-child(2) a::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 0;
  width: 30px;
  height: 10px;
  background-image: url("./images/header/select_02.png");
  background-repeat: no-repeat;
}

.until__wrap > li > a.global {
  width: 25px;
  height: 20px;
  background-image: url("./images/header/global.png");
  background-repeat: no-repeat;
}

.kor {
  color: #dd0330;
  font-size: 15px;
  font-weight: bold;
}

.contents {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

/* Intro */
#intro {
  position: relative;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}

.input__wrap {
  position: relative;
  width: 100%;
  z-index: 10;
}

.input__wrap h1 {
  padding: 360px 0 40px 0;
  color: #fff;
  font-family: "Crimson Text";
  font-size: 38px;
  text-align: center;
  line-height: 1.4em;
  letter-spacing: 0.3em;
}

.input__wrap p {
  position: relative;
  padding-top: 30px;
  color: #fff;
  font-size: 21px;
  text-align: center;
  line-height: 1.8em;
}

.input__wrap p::before {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 1px;
  margin: 0 auto;
  background-color: #dd0330;
}

.input__wrap form {
  position:relative;
  display:flex;
  align-items: center;
  width:400px;
  margin:0 auto;
  padding-top: 40px;
  text-align: center;
}

.input__wrap form .input-search {
  width: 400px;
  height: 50px;
  padding-left: 20px;
  border: none;
  border-bottom: 1px solid #dd0330;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
}


.input-search::placeholder {
  color: lightgray;
}

.input__wrap > form > a {
  position:absolute;
  right:0;
  display:inline-block;
  width:20px;
  height:20px;
  background-image: url("./images/header/search_02.png");
  background-repeat:no-repeat;
}


.intro__video {
  position: absolute;
  top: 0;
}

.intro__video::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.intro-video {
  height: 100%;
}

/* Case */
#case{
  width:100%;
  background-color:#f6f6f3;
}

.case__wrap{
  position:relative;
  top:-40px;
  display:flex;
  flex-direction: column;
  align-items: center;
  width:85%;
  margin:0 auto;
}
.slider{
  width:100%;
  margin-bottom:80px;
}

.slider__wrap{
  position:relative;
  display:flex;
  height:380px;
}

.slider__txt{
  position:relative;
  width:30%;
  padding:40px 0 0 40px;
  background-color:#df1e36;
  color:#fff;
}

.slider__txt h2{
  margin-bottom:40px;
  font-size:15px;
  font-weight:bold;
}

.slider__txt p {
  font-size:20px;
}

.slider__txt div {
  position:absolute;
  bottom:25px;
  left:40px;
}

.slider__idx{
  padding:0 6px;
  font-size:15px;
}

.slider__idx.active{
  color:#000;
}

.slider__img{
  width:70%;
}

.slider__btn{
  position:absolute;
  bottom:0;
  right:0;
  display:flex;
  background-color:#df1e36;
}

.slider__btn >a{
  display:inline-block;
  width:65px;
  height:65px;
}

.slider__btn > a > i{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  font-size: 16px;
}

.workCase{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  margin-bottom:120px;
}

.workCase h1 {
  position:relative;
  width:100%;
  margin-bottom:30px;
  font-size:30px;
  text-align: center;
}

.workCase > a {
  position: absolute;
  right:0;
  width:30px;
  height:30px;
  background-repeat:no-repeat;
  background-image:url("./images/case/more.png");
}

.news{
  display:flex;
}

.news__list{
  position:relative;
  width:33.3%;
}

.news__list:hover{
  background-color:#fff;
}

.news__list > a {
  position:relative;
  display:block;
  width: 95%;
  height:100%;
  border-top: 1px solid #df1e36;
  border-left: 1px solid #df1e36;
}

.news__list > a > span{
  display:block;
  padding:40px 40px;
  color:#df1e36;
  font-size:16px;
  font-weight:bold;
}

.news__list > a > p{
  padding:0 40px 260px 40px;
  font-size:20px;
  line-height:1.5em;
}

.news__list > a >span.date{
  position:absolute;
  bottom:30px;
  left:20px;
  display:block;
  padding:0 30px;
  color:#000;
  font-size:13px;
  font-weight:400;
}

#info{
  width:100%;
  height:1080px;
  background:url("./images/info/1_3_20190703123229.jpg") center/cover no-repeat;
}

.info__wrap{
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}

.info__txt{
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info__txt > h3 {
  color:#fff;
  font-size:42px;
  font-weight:400;
  letter-spacing: 2.1px;
  line-height:1.4em;
}

.info__txt > p {
  padding:80px 0 40px 0;
  color:#fff;
  font-size:20px;
  font-weight:bold;
}

.info__txt > a {
  display:block;
  width:280px;
  padding:20px 0;
  border:1px solid #df1e36;
  color:#df1e36;
  font-size:18px;
  transition: all 0.3s;
}

.info__txt > a:hover{
  background-color:#df1e36;
  color:#fff;
}

.info__site{
  position: absolute;
  bottom:-60px;
}

.site__wrap{
  position:relative;
  width:1200px;
  height:200px;
  background-image:url("./images/info/site.jpg");
  background-position:100%, 0px;
  background-repeat: no-repeat;
  background-color:#fff;
  color:#df1e36;
}

.site__wrap > span{
  position:absolute;
  top:40px;
  left:40px;
  font-size:14px;
  font-weight:bold;
}

.site__txt{
  padding:40px 0 40px 280px;
}

.site__txt > h3 {
  margin-bottom:30px;
}

.site__txt > h3 > a{
  position:relative;
  font-size:30px;
}

.site__txt > h3 > a::after{
  content: "";
  position: absolute;
  right: -40px;
  width: 40px;
  height: 32px;
  background-image: url(./images/info/arrow_04.png);
  background-repeat: no-repeat;
  background-position: center;
}

.site__txt > p {
  font-size:16px;
  line-height:2em;
}

#office{
  background-color:#f6f6f3;
}

.office__wrap > h3 {
  padding-top:220px;
  font-size:26px;
  text-align: center;
}

.office-slider{
  padding:60px 0;
}


.office__wrap > p {
  font-size:18px;
  text-align: center;
  line-height:1.6em;
}